<div id="partner-choice" class="uk-container uk-container-small uk-position-center uk-text-center">
    <h1 id="title" class="uk-h1 {{inverseColour}}" data-i18n="personas.page.title">{{title}}</h1>
    <div id="field" class="uk-margin-medium-top">
            {{#personas}}
            <button id="{{slug}}" class="uk-button uk-button-large uk-border-rounded uk-margin-small-right"><span uk-icon="icon: nut; ratio: 1.5"></span><br/>{{name}}</button>
            {{/personas}}
    </div>
    <button id="done" class="uk-button uk-button-large uk-button-default uk-background-default uk-border-rounded uk-margin-xlarge-top" data-i18n="personas.page.done">{{done}}</button>
</div>