<div id="about" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid uk-height-viewport>
            <div class="uk-padding-large">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{youtubeid}}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="uk-padding-large">
                <h1 data-i18n="about.title">{{title}}</h1>
                <div data-i18n="[html]about.text">
                    {{text}}
                </div>
                <h4 data-i18n="about.sponsortitle">{{sponsortitle}}</h4>
                <div class="uk-grid-collapse uk-child-width-1-3@s uk-flex-middle" uk-grid>
                    <div>
                        <img src="./assets/capes.opt.png"/>
                    </div>
                    <div>
                        <img src="./assets/tag.opt.png"/>
                    </div>
                    <div>
                        <img src="./assets/milieux.opt.png"/>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>