<div id="challenge" class="uk-container uk-container-small uk-position-center uk-text-center">
    <h2 id="title" class="uk-h2 {{inverseColour}}" data-i18n="challenges.challenges.{{short}}.name">{{name}}</h2>
    <div class="uk-margin-remove-top" uk-grid>
        <div class="uk-width-expand"></div>
        <div id="description" class="uk-width-2-3">
            <div class="uk-margin-medium-bottom {{inverseColour}}">
                <p data-i18n="challenges.challenges.{{short}}.description">{{description}}</p>
            </div>
            <div uk-grid>
                <div class="uk-width-expand"></div>
                <div id='card' class="uk-width-2-3">
                    <div id="drawing-card" class="uk-card uk-card-default uk-box-shadow-large uk-border-rounded uk-margin-small-left uk-padding-remove-left ">
                        <div class="uk-card-header">
                            <h4 class="uk-h4 uk-margin-remove-bottom" data-i18n="challenges.page.draw">{{draw}}</h4>
                        </div>
                    
                        <div class="uk-card-body uk-card-primary uk-box-shadow-large uk-light">
                            <h2 class="uk-h2" data-i18n="categories.{{categorySlug}}">{{drawCategory}}</h2>
                            <p class="uk-text-small">
                                <span uk-icon="future" class="uk-margin-small-right"></span>{{time}}s
                            </p>
                        </div>
                    
                        <div class="uk-card-footer uk-box-shadow-large">
                            <button id="play" class="uk-button uk-button-text uk-button-large uk-border-rounded uk-width-1-1"
                                data-i18n="challenges.page.ready">{{ready}}
                                <span uk-icon="chevron-right" class="uk-margin-small-left"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="uk-width-expand"></div>
            </div>
        </div>
        <div class="uk-width-expand"></div>
    </div>

    {{^onePlayer}}
    <div class="uk-margin-large-top">
        <button id="back" class="uk-button uk-button-text uk-text-meta {{inverseColour}}"><span uk-icon="chevron-left"
                class="uk-margin-small-right"></span><span data-i18n="challenges.page.back">{{back}}</span></button>
    </div>
    {{/onePlayer}}

</div>

<button id="home-button" class="uk-button uk-button-large uk-border-rounded uk-padding-remove">
    <span uk-icon="icon: home; ratio: 1.5" class="uk-margin-small-right"></span>Home
</button>