<div id="challenges" class="uk-container uk-container-small uk-position-center uk-text-center">
    <h1 id="title" class="uk-h1 {{inverseColour}}" data-i18n="challenges.page.title">{{title}}</h1>
    <div class="uk-margin-medium-top" uk-grid>
        <div class="uk-width-expand"></div>
        <div id="columns" class="uk-width-2-3" uk-grid>
            {{#challenges}}
            <div class="uk-width-1-2">
                <div id="{{short}}" class="uk-card uk-card-default uk-border-rounded uk-box-shadow-small uk-animation-toggle">
                    <div class="uk-card-media-top uk-cover-container">
                        <img src="./assets/{{short}}.opt.png" alt="" class="uk-animation-kenburns">
                    </div>
                    <div class="uk-card-body">
                        <a href="#" class="uk-button uk-button-text">
                            <h4 class="uk-h4" data-i18n="challenges.challenges.{{short}}.name">{{name}}</h4>
                        </a>
                    </div>
                </div>
            </div>
            {{/challenges}}
        </div>
        <div class="uk-width-expand"></div>
    </div>
</div>

<button id="home-button" class="uk-button uk-button-large uk-border-rounded uk-padding-remove">
    <span uk-icon="icon: home; ratio: 1.5" class="uk-margin-small-right"></span>Home
</button>