<div id="game">
    <div class="uk-margin-remove-top" uk-height-viewport>
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-padding-remove uk-margin-remove uk-box-shadow-large bordered"
            uk-height-viewport>

            <button id="start-drawing-overlay"
                class="uk-button uk-button-large uk-button-primary uk-border-rounded uk-position-center"
                data-i18n="game.page.play">{{play}}</button>

            <canvas id="canvas" resize></canvas>

        </div>
    </div>

    <button id="home-button" class="uk-button uk-button-large uk-border-rounded uk-padding-remove">
        <span uk-icon="icon: home; ratio: 1.5" class="uk-margin-small-right"></span>Home
    </button>

    <div id="container-clear">
        <button id="clear-drawing" class="uk-button uk-border-rounded uk-align-right"
            data-i18n="game.page.clear">{{clear}}</button>
    </div>

    <div id="container-progress">
        <div id="progress"></div>
    </div>
    
    <div id="container-guess">
        <h1 id="guess" class="uk-h1 uk-text-bold uk-text-muted uk-text-center"></h1>
    </div>

</div>

