<div id="game" class="uk-container uk-container-expand uk-text-center">
        <div class="{{inverseColour}}" uk-grid>
            <div class="uk-width-1-3 uk-text-left">
                <h3 id="guess" class="uk-h3">...</h3>
            </div>
            <div class="uk-width-1-3">
                <div id="ldBar"
                    style="width:100%;height:60px",
                    data-path="M10 20Q20 15 30 20Q40 25 50 20Q60 15 70 20Q80 25 90 20"
                  ></div>
            </div>
            <div class="uk-width-1-3">
    
                {{#showBackButton}}
                <button id="back" class="uk-button uk-button-text uk-text-meta uk-align-left"><span uk-icon="chevron-left" class="uk-margin-small-right"></span data-i18n="game.page.back"><span>{{back}}</span></button>
                {{/showBackButton}}
    
                <button id="clear-drawing" class="uk-button uk-button-secondary uk-border-rounded uk-align-right" data-i18n="game.page.clear">{{clear}}</button>
                
            </div>
        </div>
        <div class="uk-margin-remove-top" uk-grid>
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-width-1-1 uk-padding-remove uk-margin-left uk-box-shadow-large bordered" uk-height-viewport="offset-bottom: 40">
    
                <button id="start-drawing-overlay" class="uk-button uk-button-large uk-button-primary uk-border-rounded uk-position-center" data-i18n="game.page.play">{{play}}</button>
                
                <canvas id="canvas" resize></canvas>
                
            </div>
        </div>
    </div>
    
    <button id="home-button" class="uk-button uk-button-large uk-border-rounded uk-padding-remove">
        <span uk-icon="icon: home; ratio: 1.5" class="uk-margin-small-right"></span>Home
    </button>